* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h2 {
  margin-bottom: 64px;
}

.adv__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adv__body {
  max-width: 90%;
  margin: auto;
}

.adv__grid {
  border: 1px solid #fabada;
  border-radius: 4px;
  
}

.adv__grid > .row {
  border-bottom: 1px solid #fabada;
  align-items: center;
  padding: 24px 0;
}

.adv__grid__header {
  font-weight: 600;
}

.adv__code {
  overflow: hidden;
  max-height: 100%;
}

pre {
  margin: 0;
}